<footer class="footer-container">
<div class="container">
	<div class="row">
		<div class="col">
			<h4>고객센터</h4>
			<div class="cs_view cs_call">
				<h4><span class="tit">1644-1107</span></h4>
				<dl class="list">
					<dt>운영시간</dt>
					<dd>평일 오전 7시 - 오후 7시</dd>
				</dl>
			</div>
			<div class="cs_view">
				<a class="btn btn-outline-dark tit">카카오톡 문의</a>
				<dl class="list">
					<dt>운영시간</dt>
					<dd>평일 오전 7시 - 오후 7시</dd>
				</dl>
			</div>
			<div class="cs_view">
				<a class="btn btn-outline-dark tit">1:1 문의</a>
				<dl class="list">
					<dt>운영시간</dt>
					<dd>평일 오전 7시 - 오후 7시</dd>
				</dl>
			</div>
		</div>
		<div class="col cs_right">
			<ul>
				<li><a href="#">이용약관</a></li>
				<li><a href="#">개인정보처리방침</a></li>
				<li><a href="#">이용안내</a></li>
			</ul>
			<div class="company">
				상호 : 주식회사 오뚜와밀 <span class="line">I</span> 사업자등록번호 : 000-00-00000 <a href="#" class="link">사업자정보 확인</a></br>
				통신판매업 : 제 2021-대전중구-00000 호  <span class="line">I</span> 개인정보보호책임자 : 김영훈</br>
				주소 : 대전 서구 용문동 218-6 403 <span class="line">I</span> 대표 : 이선호</br>
				이메일 : otwameal@gmail.com
				<div class="footer-copylight">© OTWAMEAL CORP. ALL RIGHTS RESERVED</div>
			</div>
		</div>
	</div>
	
</div>
</footer>

<script src="/include/js/bootstrap.js"></script>
<script src="/include/js/jquery.validate.min.js"></script>
<script src="/include/js/jquery.iframe-transport.js"></script>
<script src="/include/js/jquery.fileupload.js"></script>
<script src="/include/js/datepicker.js"></script>
<script type="text/javascript" src="/include/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="/include/js/imagesloaded.min.js"></script>
<script type="text/javascript" src="/include/js/jquery.infinitescroll.min.js"></script>
<script type="text/javascript" src="/include/js/jquery.scrollstop.min.js"></script>


</body>
</html>