<footer id="adminFooter" class="footer">
  <div class="container">
    <div class="inner">  
    </div>
  </div>
</footer>
<script src="/include/js/bootstrap.js"></script>
<script src="/include/js/jquery.validate.min.js"></script>
<script src="/include/js/jquery.iframe-transport.js"></script>
<script src="/include/js/jquery.fileupload.js"></script>
<script src="/include/js/datepicker.js"></script>
<script type="text/javascript" src="/include/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="/include/js/imagesloaded.min.js"></script>
<script type="text/javascript" src="/include/js/jquery.infinitescroll.min.js"></script>
<script type="text/javascript" src="/include/js/jquery.scrollstop.min.js"></script>


</body>
</html>