<div class="main-container">
	<div class="container">
	  <div class="product_list">
	  	<div class="product_top">
	  		<a>신상품</a>
	  		<div class="product_navi">
	  			<a href="#" class="pn-all">전체 보기</a>
	  			<a href="#" class="pn-drop float-end dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">신상품순</a>
	  			<ul class="dropdown-menu pn-drop-list">
				    <li class="p-0"><a class="dropdown-item text-end" href="#">추천순</a></li>
				    <li class="p-0"><a class="dropdown-item text-end" href="#">신상품순</a></li>
				    <li class="p-0"><a class="dropdown-item text-end" href="#">인기상품순</a></li>
				    <li class="p-0"><a class="dropdown-item text-end" href="#">혜택순</a></li>
				    <li class="p-0"><a class="dropdown-item text-end" href="#">낮은 가격순</a></li>
				    <li class="p-0"><a class="dropdown-item text-end" href="#">높은 가격순</a></li>
				  </ul>
	  		</div>
	  	</div>
	  	<ul class="row">
	  		<li class="col-sm-4">
	  			<a>
	  				<img src="/files/upload_images/product_1.jpg" alt=""/>
	  			</a>
	  		</li>
	  		<li class="col-sm-4">
	  			<a>
	  				<img src="/files/upload_images/product_2.jpg" alt=""/>
	  			</a>
	  		</li>
	  		<li class="col-sm-4">
	  			<a>
	  				<img src="/files/upload_images/product_3.jpg" alt=""/>
	  			</a>
	  		</li>
	  		<!-- <li class="col-sm-4">
	  			<a>
	  				<img src="/files/upload_images/product_4.jpg" alt=""/>
	  			</a>
	  		</li> -->
	  	</ul>
	  </div>
  </div>
</div>