<header class="navi-container">
	<div class="container">
		<ul class="navi-bar-top">
			<li>
        <a href="#" class="join-btn">회원가입</a>
	    </li>
	    <li>
	      <a href="#">로그인</a>
	    </li>
	    <li>
	      <a href="#" class="nav-customer">고객센터</a>
	      <ul class="navi-dropdown-menu hide">
	      	<li><a href="#">공지사항</a></li>
	      	<li><a href="#">자주하는 질문</a></li>
	      	<li><a href="#">1:1문의</a></li>
	      </ul>
	    </li>
		</ul>
		<div class="logo text-center"><a class="d-inline-block" href="#"><img src="/include/images/logo.png" alt="오뚜와밀"/></a></div>
		<ul class="navi-bar">
			<li>
        <a class="active" aria-current="page" href="#">전체 카테고리</a>
	    </li>
	    <li>
	      <a href="#">신상품</a>
	    </li>
	    <li>
	      <a href="#">베스트</a>
	    </li>
	    <li>
	      <a href="#">특가상품</a>
	    </li>
	    <li>
	      <a href="#">추천상품</a>
	    </li>
		</ul>
	</div>
</header>